/* h3 {
    background-color:#3282b8;
    color:#cbf1f5;
    padding: 5px
} */
body{
    background-color: #d6e6f2;
    color:#364f6b
}

thead{
    background-color: #6998ce;
    font-size:center
}
tbody{
    font-size:center
    
}
.style1{
    background-color:#3282b8;
    color:#cbf1f5;
    padding: 5px
}

.img-style1{
    border: 1px solid #3282b8;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
       
}

#main{
    background-color: #95e5db;
}


